* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    background: #0082e6;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    user-select: none;
    color: #fff;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 3px;
}

.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}